<div th:if="${platform == 'WEB'}">
    Chào bạn,<br/>
    Bạn đã thay đổi mật khẩu cách đây ít phút tại <a th:href="@{${smartFashionWebsite}}">Smart Fashion</a>. Chúng tôi gửi bạn thông báo này để xác nhận bạn đã thay đổi mật khẩu của mình thành công.<br/>
    Cảm ơn bạn đã sử dụng ứng dụng.
</div>

<div th:if="${platform != 'WEB'}">
    Chào bạn,<br/>
    Bạn đã thay đổi mật khẩu cách đây ít phút tại <a th:href="@{${smartFashionWebsite}}">Smart Fashion</a>. Chúng tôi gửi bạn thông báo này để xác nhận bạn đã thay đổi mật khẩu của mình thành công.<br/>
    Cảm ơn bạn đã sử dụng ứng dụng.
</div>