<div th:if="${user.platform == 'WEB'}">
	Chào [[${user.name}]],<br/>
	Cảm ơn bạn đã đăng kí tài khoản tại <a th:href="@{${smartFashionWebsite}}">Smart Fashion</a>. Chúng tôi gửi cho bạn email này để xác nhận bạn đã đăng ký tài khoản tại <a th:href="@{${smartFashionWebsite}}">Smart Fashion</a>.
	Vui lòng click để xác nhận thông tin về tài khoản<br/>
	<b>Lưu ý:</b> <i>Liên kết chỉ có tác dụng trong <b>[[${tokenTime}]]</b> phút.</i>
	<div style="text-align: center;">
		<a th:href="${url}"
			style="background-color: #962CDA;
			border: none; 
			color: white; 
			padding: 15px 32px; 
			text-decoration: none; 
			display: inline-block; 
			font-size: 16px; 
			margin: 4px 2px; 
			cursor: pointer; 
			border-radius: 10px;">Xác nhận tài khoản</a>
			<p>hoặc click vào liên kết<p>
			<a th:href="${url}" class="button">[[${url}]]</a>
	</div>
</div>

<div th:if="${user.platform != 'WEB'}">
	Chào [[${user.name}]],<br/>
	Cảm ơn bạn đã đăng kí tài khoản tại <a th:href="@{${smartFashionWebsite}}">Smart Fashion</a>. Chúng tôi gửi cho bạn email này để xác nhận bạn đã đăng ký tài khoản tại <a th:href="@{${smartFashionWebsite}}">Smart Fashion</a>.
	Vui lòng sử dụng mã kích hoạt để xác nhận thông tin về tài khoản<br/>
	<b>Lưu ý:</b> <i>Mã kích hoạt chỉ có tác dụng trong <b>[[${tokenTime}]]</b> phút.</i>
	<div style="text-align:center;
			margin-bottom: 10px;">
		<span style="
			background-color: #b5b5b5;
			padding: 10px;
			font-size: 2rem;
			border-radius: 10px;">[[${token}]]</span>
	</div>
</div>
